*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0f0f0;
}
a{
    text-decoration: none;
    font-family: sans-serif;
}
header{
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: rgb(75, 6, 121);
    padding: 5px 0;
    border-bottom: 1px solid grey;
    background: #fff;
}
.container{
    margin-top: 50px;
    width: 100%;
}
.add{
    height: 50px;
}
.add_btn{
    width: 200px;
    padding: 15px;
    font-size: 1.2rem;
    margin-left: 15%;
    border: 1px solid grey;
    background-color: rgb(201, 201, 201);
    border-radius: 10px;
}
.add_btn:hover{
    width: 210px;
    margin-left: 14.9%;
    border:1px solid rgb(106, 11, 174);
    background-color: rgb(186, 186, 186);
}
.table{
    width: 80%;
    margin: 50px 10% 0 10%;
    font-size: 1.2rem;
}
.table .thead tr th{
    width: 5%;
    font-size: 1.4rem;
    color:#fff;
    height: 40px;
    background-color: rgb(134, 31, 199);
    border: 1px solid grey;
}
tbody{
    text-align: center;
}
tr{
    border: 1px solid rgb(106, 11, 174);
}
#table_row:hover{
    background-color: rgb(77, 209, 44);
}
td{
    height: 40px;
}
td a{
    text-decoration: none;
    font-size: 1.4rem;
}
td .btn{
    color: rgb(39, 63, 170);
}
td .delete{
    color: red;
    margin-left: 10%;
}


.all_btn{
    width: 200px;
    padding: 15px;
    font-size: 1.2rem;
    margin-left: 15%;
    border: 1px solid grey;
    background-color: rgb(201, 201, 201);
    border-radius: 10px;
}
.all_btn:hover{
    width: 210px;
    margin-left: 14.9%;
    border:1px solid rgb(106, 11, 174);
    background-color: rgb(186, 186, 186);
}

/* form */
#add_user,#update_user{
    margin-top: 50px;
}
label{
    font-size: 1.2rem;
    margin-left: 30px;
}
.label{
    font-size: 1.6rem;
    margin: 100px 0 0 35%  ;
}
#name,#email{
    width: 20%;
    height: 30px;
}
input{
    font-size: 1.1rem;
}
.radio{
    margin-top: 10px;
    width: 18px;
    height: 18px;
}
button{
    width: 8%;
    height: 40px;
    margin:20px 44%;
    font-size: 1.2rem;
    color: rgb(42, 42, 42);
    background-color: rgb(108, 201, 230);
}